.header__lang-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.3s;
    font-family: 'Inter', ‘Arial’, sans-serif;
}

.header__lang-link:hover {
    opacity: 80%;
}

@media screen and (max-width: 450px) {
    font-size: 18px;
    line-height: 20px;
}