.intro__text {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 26.08px;
    font-family: 'Inter', ‘Arial’, sans-serif;
}