.intro {
    max-width: 984px;
    margin: 0 auto 92px auto;
    font-family: 'Inter', ‘Arial’, sans-serif;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 0 auto 88px auto;
    }
}

@media screen and (max-width: 450px){
    .intro {
        max-width: 450px;
        margin: 0 auto 64px auto;
        width: 90%;
    }
}